header {
	background-color: yellow;
	margin-bottom: 10px;
}

h1 {
	margin: auto;
	margin-top: 10px;
}

p {
	margin: auto;
	margin-bottom: 10px;
}

.card {
  	border: 1px solid #E5E5E5;
  	margin-bottom: 20px;
}

.card-image {
	width: 100%;
}

.card-content {
	padding: 15px;
}

.card-content h3 {
	margin: auto;
}

.card-content p {
	margin-top: 10px;
}